.valid-check {
  list-style: none;
  overflow: hidden;
  margin: 0 0;
  height: 0px;
  padding: 0px 20px;
  transition: height ease-in-out 0.3s;
  font-size: 0.8rem;
}

.valid-check.active {
  height: 40px;
  .check_valid {
    color: blue;
  }
  .check-unvalid {
    color: red;
  }
}
