.valid-check {
  list-style: none;
  overflow: hidden;
  margin: 0 0;
  height: 0px;
  padding: 0px 20px;
  transition: height ease-in-out 0.3s;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  .check-valid {
    color: #00cd06;
  }
  .check-unvalid {
    color: rgb(253, 65, 65);
  }
  .check-icon svg {
    transform: translateY(1.5px);
  }
}

.valid-check.active {
  height: 40px;
}
