button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  transition: background-color 0.3s cubic-bezier(0.3, 0, 0.5, 1);
}

.btn {
  background-color: #fafbfc;
  border-color: rgba(10, 14, 19, 0.15);
  color: #24292e;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  transition: background-color 0.1s;
  &:hover {
    background-color: #f3f4f6;
  }
}

button.bg-blue {
  border-color: #05bb96;
  background: #05bb96;
  color: #fff;
}

button.bg-grey {
  background: rgba(88, 88, 88, 0.65);
  color: #fff;
  border: 0;
}

button.border-red {
  border: 1.7px solid #fd8f8f;
  // box-shadow: 0px 0px 9px 1px rgba(255, 0, 0, 0.61);
}

button.disabled {
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  button .loader {
    animation: button-loader infinite 0.7s ease-in-out;
  }
}

@keyframes button-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
