button {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 11px 24px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.login-btn {
  border-color: #05a081;
  background: #05a081;
  color: #fff;
}

.error {
  border-color: #ff1f1f;
  background: #ff3c3c;
  color: #fff;
}

.authorized {
  border-color: #1fff1f;
  background: #3cff76;
  color: #fff;
}
