.join__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px 20px;
  margin-top: 30px;
}

.join_form-logo {
  height: 100px;
  width: auto;
}

.join__form-element {
  width: 100%;
  margin-bottom: 5px;
}

.join__form-btn {
  height: 35.5px;
}
