{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "off",
    "react/jsx-filename-extension": "off",
    "linebreak-style": "warn",
    "jsx-quotes": 0
  }
}
