.toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  // text-indent: -9999px;
  width: 44px;
  height: 27px;
  background: #fefefe;
  display: block;
  border-radius: 100px;
  position: relative;
  bottom: 15px;

  svg {
    color: black;
    position: relative;
    top: 5px;
    left: 2px;
    font-size: 18px;
  }
}

.toggle-label:after {
  content: '';
  position: absolute;
  top: 1.6px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: #080827;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle:checked + .toggle-label {
  // background: #080831;
  // background: var(--bg-reverse);
}

.toggle:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
